.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Titillium Web';
}

#About{
  text-align: left;
  border: 1px solid black;
  width: 50%;
  font-size: 20px;
}

